body {
    background-color: #e6e6e6;
}

.content {
    position: relative;
}

.tooltip {
    position: absolute;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #4287f5;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
 button {
    position: absolute;
    right:    0;
    bottom:   0;
    border: none;
    border-color: none;
    background-color: #4287f5;
    width: 7rem;
    height: 5rem;
 }

  .imgdiv {
    align-content: center;
  }